<template>
	<div class="row">
		<div class="row">
			<div class="col s12 grey lighten-3">
				<h4 class="grey-text left-align">Kiplangat Logistics</h4>
				<h5 class="accent-text left-align"><i class="material-icons">dashboard</i> Dashboard</h5>
			</div>
		</div>
		<div class="row">
			<Points />
			<Freights />
		</div>
	</div>
</template>


<script>
	import Points from './listings/Points.vue';
	import Freights from './listings/Freights.vue';

	export default {
		name: 'Dashboard',
		components: {
			Points,
			Freights
		}
	}
</script>
