<template>
	<div class="row">
		<div class="col s12">
			<h5 class="grey-text" ><i class="material-icons">local_shipping</i> Freights (<span class="primary-text">{{freights.length}}</span>)</h5>
			<h6 class="grey-text" >Click on freight to view on map</h6>
		</div>

		<div class="col s12 right-align">
			<a class="waves-effect waves-dark btn-flat primary-text"  id="freight-form-btn"><i class="material-icons">add</i> New Freight</a>
		</div>


		<div class ="col s12">
			<table class="table table-bordered table-hover">
				<thead>
					<tr>
						<th>Id</th>
						<th>Pickup point</th>
						<th>Dropoff point</th>
						<th>Vehicle Plate</th>
						<th>Driver</th>
						<th>Description</th>
					</tr>
				</thead>
				<tbody>
					<tr v-on:click="freightDetails(freight)" v-for="freight in freights" :key="freight._id" >					
						<td>{{ freight._id }}</td>
						<td>{{ freight.pickup_point }}</td>
						<td>{{ freight.dropoff_point }}</td>
						<td>{{ freight.vehicle_plate }}</td>
						<td>{{ freight.driver }}</td>
						<td>{{ freight.description }}</td>
					</tr>
				</tbody>
			</table>
		</div>

		<div class="col s12" id="freight-form-wrapper">
			<div class="row">
				<form class="col s6 offset-s3" id="freight-form" method="post" action="#">
					<div class="col s12">
						<h3 class="grey-text" >New Freight</h3>
					</div>

					

					<div class="col s12 left-align">
					<br />
						<label>Pickup point <b class="red-text">*</b></label>
						<select name="pickup_point">
							<option v-for="pickuppoint in pickuppoints" v-bind:value="pickuppoint._id">{{pickuppoint.name}}</option>
						</select>
					</div>

					<div class="col s12 left-align">
					<br />
						<label>Dropoff point <b class="red-text">*</b></label>
						<select name="dropoff_point">
							<option v-for="dropoffpoint in dropoffpoints" v-bind:value="dropoffpoint._id">{{dropoffpoint.name}}</option>
						</select>
					</div>

					<div class="col s12">
						<div class="input-field mdc outlined full-width">
							<i class="material-icons prefix">label</i>
							<label for="vehicle_plate">Vehicle Plate</label>						
							<input class="full-width validate" name="vehicle_plate" type="text" id="vehicle_plate"  />
						</div>
					</div>

					<div class="col s12">
						<div class="input-field mdc outlined full-width">
							<i class="material-icons prefix">person</i>
							<label for="driver">Driver name</label>						
							<input class="full-width validate" name="driver" type="text" id="driver" />
						</div>
					</div>

					<div class="col s12">
						<div class="input-field mdc outlined full-width">
							<i class="material-icons prefix">subject</i>
							<label for="description">Description</label>
							<textarea class="materialize-textarea full-width"  name="description" rows="10"  id="description"  novalidate></textarea>
						</div>
					</div>

					<div class="col s12 center-align">
						<br />
						<br />
						<input class="btn primary inverse-text" type="submit" value="Create"  />
					</div>
				</form>

			</div>

			<div class="col s12">
				<a class="waves-effect waves-dark btn-flat red-text right"  id="freight-form-close-btn"><i class="material-icons">cancel</i> Dismiss</a>
			</div>
		</div>

		<div class="row" id="freight-details">
			<div class="col s12">
				<h5 class="grey-text text-lighten-1">Freight Details</h5>
				<h5 class="primary-text" id="points-header"></h5>
				<h5 class="accent-text" id="distance-header"></h5>
			</div>

			<div class="col s12" id="freight-map-wrapper">
				<HereMap
		            appId="SoeU59HPS9EQxjbB9rgU"
		            appCode="Clumg2Bg6Iz3tiYpO6fFrQ"
		            lat="1.2921"
		            lng="36.8219"
		            width="100%"
		            height="500px" />
			</div>

			<div class="col s12">
				<a class="waves-effect waves-dark btn-flat red-text right"  @click="hideFreightDetails()"><i class="material-icons">cancel</i> Dismiss</a>
			</div>
		</div>

	</div>
</template>
<script>
	import {ApiCalls} from '../../ApiCalls';
	import HereMap from "../HereMap.vue"
	export default {
		name: 'Freights',
		components: {
			HereMap
		},
		data() {
			return {
				freights: [],
				pickuppoints: [],
				dropoffpoints: [],
				error : '',
				freight: {},
				map: {},
                platform: {}
			};
		},
		async created(){
			this.platform = new H.service.Platform({
                "app_id": this.appId,
                "app_code": this.appCode
            });
			this.freights = await ApiCalls.getFreights();
			this.pickuppoints = await ApiCalls.getPointsOfType('pickup');
			this.dropoffpoints = await ApiCalls.getPointsOfType('dropoff');
		},
		props: {
            appId: String,
            appCode: String,
            lat: String,
            lng: String,
            width: String,
            height: String
        },
		methods: {
			hideFreightDetails(){
				$("#freight-details").hide();
			},
			async freightDetails(freight){	
				var pickuppoint = freight.pickup_point;
				var dropoffpoint = freight.dropoff_point;
				$("#freight-details").hide();
				var pointup = await ApiCalls.getPoint(pickuppoint);
				var pointoff = await ApiCalls.getPoint(dropoffpoint);
				var pickupPointName = pointup.name;
				var pickuplat = pointup.latitude;
				var pickuplong = pointup.longitude;
				var dropoffPointName = pointoff.name;
				var dropofflat = pointoff.latitude;
				var dropofflong = pointoff.longitude;

				if(typeof(pickuplat) !== "undefined" && typeof(pickuplong) !== "undefined" && typeof(dropofflat) !== "undefined" && typeof(dropofflong) !== "undefined"){
					var R = 6371; // Radius of the earth in km
					var dLat = (Math.PI/180)*(dropofflat-pickuplat);
					var dLon = (Math.PI/180)*(dropofflong-pickuplong); 
					var a = Math.sin(dLat/2) * Math.sin(dLat/2) + Math.cos((Math.PI/180)*(pickuplat)) * Math.cos((Math.PI/180)*(dropofflat)) * Math.sin(dLon/2) * Math.sin(dLon/2); 
					var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1-a)); 
					var distance = R * c; // Distance in km
					$("#freight-details").show();
					$("#points-header").text(pickupPointName+" to "+dropoffPointName);
					$("#distance-header").text("Distance : "+distance+" Kilometers");
					this.map = new H.Map(
				        this.$refs.map,
				        this.platform.createDefaultLayers().normal.map,
				        {
				            zoom: 10,
				            center: { lng: ""+pickuplong, lat: ""+pickuplat }
				        }
				    );
				    this.map.addObject(new H.map.Marker({lat: ""+pickuplat, lng: ""+pickuplong }));
					
				}

			},
			editFreight(freight){
				ApiCalls.deleteFreight(freight).then((r)=>{
					if(r.status === 204) {
						alert("Freight deleted");
						this.$router.go()
					}
				})
			},
			deleteFreight(freight){
				ApiCalls.deleteFreight(freight).then((r)=>{
					if(r.status === 204) {
						alert("Freight deleted");
						this.$router.go()
					}
				})
			},
		},

		mounted() {

			$(document).ready(function(){
				$('#freight-form-wrapper').hide();
				$('#freight-form-btn').click(function(e){
					e.preventDefault();
					$('#freight-form-wrapper').show();
					$('#freight-form-btn').hide();
				});
				$('#freight-form-close-btn').click(function(e){
					e.preventDefault();
					$('#freight-form-wrapper').hide();
					$('#freight-form-btn').show();
				});
				$('#freight-form').submit(function(e){
					e.preventDefault();
					var freightdata = $('#freight-form').serializeformJSON();
					ApiCalls.createFreight(freightdata);
					location.reload();
				});
				$("#freight-details").hide();
			});
		},
		computed: {

		}

	}
</script>