<template>
	<div class="row">
		<div class="col s12">
			<h5 class="grey-text" ><i class="material-icons">place</i> Points (<span class="primary-text">{{points.length}}</span>)</h5>
		</div>

		<div class="col s12 right-align">
			<a class="waves-effect waves-dark btn-flat primary-text"  id="point-form-btn"><i class="material-icons">add</i> New Point</a>
		</div>

		<div class="col s12">
			<table class="table table-bordered table-hover">
				<thead>
					<tr>
						<th>Id</th>
						<th>Name</th>
						<th>Type</th>
						<th>Latitude</th>
						<th>Longitude</th>
					</tr>
				</thead>
				<tbody>
					<tr v-for="point in points" v-bind:point="point._id">
						<td>{{ point._id }}</td>
						<td>{{ point.name }}</td>
						<td>{{ point.type }}</td>
						<td>{{ point.latitude }}</td>
						<td>{{ point.longitude }}</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="col s12" id="point-form-wrapper">
			<div class="row">
				<form class="col s6 offset-s3" id="point-form" method="post" action="#">
					<div class="col s12">
						<h3 class="grey-text" >New Point</h3>
					</div>

					<div class="col s12">
						<div class="input-field mdc outlined full-width">
							<i class="material-icons prefix">label</i>
							<label for="name">Name <b class="red-text">*</b></label>						
							<input class="full-width validate autocomplete" name="name" type="text" id="name"  required />
						</div>
					</div>

					<div class="col s12 left-align">
					<br />
						<label>Type <b class="red-text">*</b></label>
						<select name="type">
							<option value="pickup">Pickup</option>
							<option value="dropoff">Dropoff</option>
						</select>
					</div>

					<div class="col s12">
						<div class="input-field mdc outlined full-width">
							<i class="material-icons prefix">label</i>
							<label for="longitude">Longitude <b class="red-text">*</b></label>						
							<input class="full-width validate" name="longitude" type="text" id="longitude"  required />
						</div>
					</div>

					<div class="col s12">
						<div class="input-field mdc outlined full-width">
							<i class="material-icons prefix">label</i>
							<label for="latitude">Latitude <b class="red-text">*</b></label>						
							<input class="full-width validate" name="latitude" type="text" id="latitude"  required />
						</div>
					</div>

					<div class="col s12 center-align">
						<br />
						<br />
						<input class="btn primary inverse-text" type="submit" value="Create"  />
					</div>
				</form>

			</div>

			<div class="col s12">
				<a class="waves-effect waves-dark btn-flat red-text right"  id="point-form-close-btn"><i class="material-icons">cancel</i> Dismiss</a>
			</div>
		</div>
	</div>
</template>
<script>
	import {ApiCalls} from '../../ApiCalls';

	export default {
		name: 'Points',
		components: {

		},
		data() {
			return {
				points: [],
				error : ''
			};
		},
		async created(){
			this.points = await ApiCalls.getPoints();
		},
		methods: {
			deletePoint(point){
				ApiCalls.deletePoint(point).then((r)=>{
					if(r.status === 204) {
						alert("Point deleted");
						this.$router.go()
					}
				})
			},

		},

		async mounted() {
				$('#point-form-wrapper').hide();
				$('#point-form-btn').click(function(e){
					e.preventDefault();
					$('#point-form-wrapper').show();
					$('#point-form-btn').hide();
				});
				$('#point-form-close-btn').click(function(e){
					e.preventDefault();
					$('#point-form-wrapper').hide();
					$('#point-form-btn').show();
				});
				$('#point-form').submit(function(e){
					e.preventDefault();
					var pointdata = $('#point-form').serializeformJSON();
					ApiCalls.createPoint(pointdata);
					location.reload();
				});
		},

	}
</script>