<template>
	<div id="app">
		<Dashboard />
	</div>
</template>
<style src="./assets/materialize/css/materialize.css"></style>
<script src="./assets/js/jquery.min.js"></script>
<script src="./assets/materialize/js/materialize.js"></script>
<script>


import Dashboard from './components/Dashboard.vue'

export default {
	name: 'app',
	components: {
		Dashboard
	},
	mounted(){
		$(document).ready(function(){
			$.fn.extend ({
				serializeformJSON : function(){
					var o = {};
					var a = this.serializeArray();
					$.each(a, function () {
						if (o[this.name]) {
							if (!o[this.name].push) {
								o[this.name] = [o[this.name]];
							}
							o[this.name].push(this.value || '');
						} else {
							o[this.name] = this.value || '';
						}
					});
					return o;
				}
			});
			$(".mdc.outlined").each(function(){
				var $inputfield = $(this);
				var $input = $inputfield.find("input, textarea");
				if (typeof($input.val()) != "undefined" && $input.val() != "") {
					$inputfield.addClass("active");
				}
				$inputfield.children("input,textarea").on('focus', function(e){
					$inputfield.removeClass("active");
					$inputfield.children("label").addClass("active");
					$inputfield.addClass("focused");
				});
				$inputfield.children("input,textarea").blur(function(e){
					if ($(this).val() == "" || typeof($(this).val()) == "undefined") {
						$inputfield.removeClass("active");
						$inputfield.removeClass("focused");
						$inputfield.children("label").removeClass("active");
					}
					else{
						$inputfield.addClass("active");
						$inputfield.removeClass("focused");
					}
				});
			});
		});
	}
}
</script>

<style>
#app {
	font-family: 'Avenir', Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-align: center;
	color: #2c3e50;
}
</style>
